#!/bin/bash
HOST=`hostname`
IMG_URL=https://cloud.centos.org/centos/8-stream/x86_64/images/CentOS-Stream-GenericCloud-8-20220125.1.x86_64.qcow2
IMG=CentOS-Stream-GenericCloud-8-20220125.1.x86_64.img
IMG_SIZE="10G"
INCR_IMG=incr_CentOS-Stream-GenericCloud-8-20220125.1.x86_64.img
ISO_URL=https://download.rockylinux.org/pub/rocky/8/isos/x86_64/Rocky-8.5-x86_64-minimal.iso
ISO=Rocky-8.5-x86_64-minimal.iso
ISO_NEW=custom-Rocky-8.5-x86_64-minimal.iso
USER_DATA=user-data
DATA_DIR="./data/centos8stream"
SSH_PORT=2335
RUN_SCRIPT="centOS8_setup.sh"
FULL_RUN_SHA="full_run_sha.txt"
#This is the location the repository is in.  Git clone the ComplianceAsCode repo and change.
KS="../autoinstall/hardening/ComplianceAsCode-content-hardening/products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg"
KS="./ks/CentOS8Linux-LUKS-ks.cfg"


mkdir -p $DATA_DIR
kill $( ps -ef | grep qemu-system-x86_64 | xargs | cut -d" " -f2 )

if getent group kvm | grep -q "\b${USER}\b"; then
  echo "User is in the KVM group continuing."
else
  echo "User not found in KVM.  Add the User to KVM and restart this session."
  exit 1
fi

