#!/bin/bash
HOST=`hostname`
IMG_URL=https://download.rockylinux.org/pub/rocky/8.5/images/Rocky-8-GenericCloud-8.5-20211114.2.x86_64.qcow2
IMG=Rocky-8-GenericCloud-8.5-20211114.2.x86_64.img
IMG_SIZE="10G"
INCR_IMG=incr_Rocky-8-GenericCloud-8.5-20211114.2.x86_64.img
IMG_NEW=new_image_Rocky-8-GenericCloud-8.5-20211114.2.x86_64.img
ISO_URL=https://download.rockylinux.org/pub/rocky/8/isos/x86_64/Rocky-8.5-x86_64-minimal.iso
ISO_FULL_URL=https://download.rockylinux.org/pub/rocky/8/isos/x86_64/Rocky-8.5-x86_64-dvd1.iso
ISO=Rocky-8.5-x86_64-minimal.iso
ISO_NEW=custom-Rocky-8.5-x86_64-minimal.iso
USER_DATA=user-data
DATA_DIR="./data/rockylinux8"
SSH_PORT=2335
NET_TAP=tap2_${USER}
RUN_SCRIPT="rocky_setup.sh"
FULL_RUN_SHA="full_run_sha.txt"
VNC_PORT=2
#This is the location the repository is in.  Git clone the ComplianceAsCode repo and change.
KS="../autoinstall/hardening/ComplianceAsCode-content-hardening/products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg"
KS="./ks/Rocky8Linux-LUKS-ks.cfg"

if getent group kvm | grep -q "\b${USER}\b"; then
  echo "User is in the KVM group continuing."
else
  echo "User not found in KVM.  Add the User to KVM and restart this session."
  exit 1
fi

MY_KEY="/home/${USER}/.ssh/id_ed25519 "
MY_SSH_ACCESS_KEY="`cat /home/${USER}/.ssh/id_ed25519.pub`"
#if [ ! -f "$MY_KEY" ]; then
#  ssh-keygen -b 4096 -t ed25519 -f $MY_KEY -q -N ""
#fi

MY_OPTS_SCP="-i $MY_KEY  -o LogLevel=ERROR -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -P ${SSH_PORT}"
#MY_OPTS_SCP=" -o LogLevel=ERROR -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -P ${SSH_PORT}"
MY_OPTS_SSH="-i $MY_KEY   -o LogLevel=ERROR -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${SSH_PORT}"
#MY_OPTS_SSH=" -o LogLevel=ERROR -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p ${SSH_PORT}"
