data/
www/web_test/vnc/core/
www/web_test/vnc/app/
www/web_test/vnc/t.php  
www/web_test/vnc/utils/  
www/web_test/vnc/vendor/ 
www/old/
*.tgz
*.img
*.qcow2
*.vmdk
.htaccess
.htpasswd
user-data
meta-data
pid.*
run_times.txt
notes/
spice/
novnc/
ssl/
files/
