.menu {
  display: flex;
  justify-content: left;
  width: 90%;
  background: #c8c8c8;
  margin: 0 auto;
  line-height: 20px;
  align-items: center;
  margin-left: 100px;
}

.menu3, .menu4, .menu5 { 
    background-color: #c8c8c8; 
    color: black; 
    font-family: Century Gothic, CenturyGothic, AppleGothic,       sans-serif; 
    font-size:25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    border: none; 
    border-radius: 30px; 
    width: 140px;
}
.subMenu1 {
    background-color: #a818c8;
    color: black;
    font-family: Century Gothic, CenturyGothic, AppleGothic,       sans-serif;
    font-size:15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    border: none;
    border-radius: 30px;
    width: 150px;
}

.menu1, .menu2 {
	
    color: black;
    border: none;
    cursor: pointer;
    margin-top:20px;
}

.menu1btn:hover, .menu2btn:hover {
    background-color: #c8c8c8;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
    display: none;
    position: absolute;
    background-color:#c8c8c8;
    min-width: 100px;
}
.dropdown-child a {
    color: #c8c8c8;
    padding: 10px;
    text-decoration: none;
    display: block;
  
}
.dropdown:hover .dropdown-child {
    display: block;
}

body {
  background: #c8c8c8;
  margin: 0 auto;
  min-width:600px;
  max-width:2000px
}

.logo {
  width: 30%;
}

.menu1, .menu2 {
  background-color: #c8c8c8;
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  border: none;
}

.StartAProject {
  background-color: #2a2929; 
  color: white; 
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  font-size:15px; 
  font-style: normal;
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  border-color: #E82C54; 
  border-radius: 25px; 
  left: 8%; 
  right: 0.6rem; 
  width: 140px; 
  height: 40px; 
  position: absolute; 
  margin-top: 28%;
}

.ReadMoreBTN, .HelpUSBTN {
  color: white; 
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  font-size:15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  margin-top: 940px; 
  text-decoration: none;
  left: 44%; 
  position: absolute; 
   display: flex;
   justify-content: center;
   align-items: center;
  background-color: #2a2929; 
  border-radius: 20px; 
  width: 110px; 
  height: 30px; 
}

.StartAProject1 {
  width: 30%;
}

.banner {
  background: #f02c5c;
  align-items: center;
}

.component1 {
  background: #c8c8c8;
  display: flex;
}

.component2 {
  background: #c8c8c8;
 }

.investor {
  margin-top: 10%;
  margin-color: #c8c8c8;
  padding: 50px;
  background: #2a2929;
  display: flex;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.FooterBTN {
  color: black; 
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
  font-size:15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 
  left: 45%; 
  background-color: #c8c8c8; 
  color: black; 
  border-radius: 30px;
  width: 140px; 
  height: 40px; 
  margin-left: 300%; 
  margin-top: 40%
  
}

footer {
    background-color: white; padding-top: 5em; padding-bottom: 40px; border-top: 5px #e82c54; padding: 90px;
}
footer h2 {
   font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size:25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; border: none; border-radius: 30px; width: 200px; color: #2a2929; margin-left:12%;

}
footer a {
    text-decoration: none;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none; color: #2a2929; font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; font-size:15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.footer-wrapper {
    display: flex;
}
.footer-box {
    width: 25%; padding: 1%;
    align-items: center;
}
.company-footer {
    width: 80%;
}
.company-footer h2 {
    margin-top: 20px;
}
.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}
.footer-list li {
    margin-bottom: 15px;
}
.footer-list a {
    transition: 0.5s;
}
.footer-list a:hover {
    color: pink;
}
.footer-list li:after {
    clear: both;
    content: "";
    display: flex;
    gap: 10px 15px;
}
.articles-footer {
    width: 80%;
}
.footer-list.footer-article-list span {
    display: flex; float: none;
}
.fa {
    font-size: 30px;
    margin-right: 10px;
    float: center;
}
.fa-brands {
    margin-left: 8px;
    vertical-align: sub;
}
.footer-list li span {
    float: center;
    height: 30px;
    line-height: 30px;
}
.footer-bottom {
    border-top: 1px solid pink;
}
.footer-bottom p{
    font-weight: 600;
    margin-top: 40px;
}

a:hover {
    color: #f7436f;
}

main {
  text-align: center;
}
