<html>
  <head>
    <!-- A real extension would not be able to link to external CDNs; we just do it here for simplicity -->
    <script src="libs/lodash.min.js"></script>
    <script src="libs/muxy-extensions.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
  </head>

  <body>
    <p>Number of times Increment has been pressed since <span id="fetchTime"></span>:</p>

    <span id="counter">0</span>

    <p>
      <textarea id="zbla"></textarea>
      <br/>
      <button id="message">Broadcast a message</button>
    </p>

    <script type="text/javascript">
      Muxy.testJWTRole = 'broadcaster'; // Necessary here to fake broadcaster access to the Muxy API. In production, the role will be set automatically in the broadcaster views.

      Muxy.setup({ extensionID: 'xyphukhqzv4tl044h0vxdrj945zbpr' });
      const sdk = new Muxy.SDK();

      var firstFetchTime;

      const updateCount = _.debounce(function () {
        // We'll be counting the number of accumulations since the initial fetch
        if (!firstFetchTime) {
          firstFetchTime = new Date();
          document.querySelector('#fetchTime').innerText = firstFetchTime;
        }

        sdk.getAccumulation('simple_counter', firstFetchTime.getTime()).then(function (results) {
          console.log('counter -> ', results);
          const counter = document.querySelector('#counter');

          // The number of objects in the result data is our counter value
          counter.innerText = results.data.length;
        });
      }, 1000);

      // Retrieve accumulated data on an interval
      setInterval(updateCount, 2000);


      /**
       * Broadcast
       */
      var messageBroadcast = function() {
        var msgbroadcast = document.querySelector('#zbla').value;
        console.log(msgbroadcast)
        sdk.send('broadcastMessage', {
          message: msgbroadcast,
        });
      }

      var msg = document.querySelector('#message');
      if (msg) {
        msg.addEventListener('click', messageBroadcast);
      }

      /**
       * Vote
       */
      const voteCount = _.debounce(function () {
        sdk.getVoteData('votingDukeTest').then((voteData) => {
          console.log('Vote number -> ', voteData);
        });
      });
      setInterval(voteCount, 2000);

      /**
       * Storage
       */
      const resp = _.debounce(function () {
        sdk.getJSONStore('awesome_server_action').then((resp) => {
          console.log(resp);
        });
        sdk.getJSONStore('dukestore').then((resp) => {
          console.log(resp);
        });
      }, 1000);
      // setInterval(resp, 2000);
      resp();

    </script>
  </body>
</html>
